---
layout: default
title: Home
---

<!-- {% for post in paginator.posts %}
  {% include featured-post.html %} -->
<!-- {% endfor %} -->

<!-- insert one profile image in assets/img -->

<img src="{{ site.github.url }}/assets/img/yeonjulee_profile_blue.jpg" alt="Profile Picture" class="profile-image" width="341.75" height="512" >

<!-- 글귀 삽입 -->
<p style="text-align: center; font-size: 1.2em; margin-top: 20px;">
  Through a belief in the power of music, people, and place, I create musical moments and opportunities where individuals connect with their own emotions, stories, and perspectives.
</p>


<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
